if (user.project.length == 0)
	|您还没有添加任何文档
else
	table(style='width:100%')
		thead
			th 项目名称
			th 创建日期
			th 默认
		tbody
		each proj in user.project
			tr
				td 
					.projectName #{proj.projName}
				td #{new Date(proj.projCreateDate).toYMD()}
				td( onclick='userInterface.projectDefault(this)')
					if ( proj.projDefault )
						input(type='radio', checked)
					else
						input(type='radio')
				