if (user.project.length == 0)
	|您还没有添加任何文档
else
	table.projectTable
		thead
			th 项目名称
			th 创建日期
			th 默认
		tbody
		each proj in user.project
			tr
				td #{proj.projName}
				td #{proj.projCreateDate}
				td #{proj.projDefault}
				