if (user.docs.length == 0)
	|您还没有添加任何文档
else
	table.docsTable
		thead
			th 文档标题
			th 文档类别
			th 创建日期
		tbody
		each doc in user.docs
			tr
				td #{doc.title}
				td #{doc.category}
				td #{doc.publishDate}
				