extends layout

block content
	p Welcome #{user.username}

	p title:
	input(type='text', value='')
	br
	
	p category:
	input(type='text', value='')
	br

	p content:
	textarea(cols='100', rows='40')
	br

	input(type='submit', value='submit')
