doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/main.css')
		script(type='text/javascript', src='/javascripts/jquery.js')
		script(type='text/javascript', src='/javascripts/imserver-required.js')

		script(type='text/javascript', src='/ueditor/editor_config.js')
		script(type='text/javascript', src='/ueditor/editor_all.js')
		link(rel='stylesheet', href='/ueditor/themes/default/ueditor.css')

	body
		block content