doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(type='text/javascript', src='/javascripts/jquery.js')
    script(type='text/javascript', src='/javascripts/imserver-required.js')
    
  body
    block content