h1 设置
.hr
.stBlock	
	h2 登陆状态
	.settings
		p 您已经登陆IM, 若要注销或者退出，请点击
		input(type='button', value='退出账号', onclick='userInterface.exit()')
		input(type='button', value='切换账号', onclick='userInterface.logout()')
.stBlock
	h2 账号
	.settings
		p 邮箱是您登陆IM的唯一途经，证书是您使用IM的必要条件，为了保证您正常使用IM，请保管您的账号:
		.comment
			|登陆邮箱 #{user.username}
			br
			|证书 #{user.userCert}
		br
		p 修改密码时，我们会向您登陆邮箱发送一封电子邮件，里面包含密码修改的链接，点击之后跟着步骤操作即可。
		input(type='button', value='给我发送修改密码的邮件')
						
.stBlock
	h2 项目 
	.settings
		p 以下是您的项目，您可以设置其中一个为默认项目，下次登陆时将默认对这个项目进行操作。
		#projectTable.comment(style='width:500px')
			include _userprojectable.jade
		p 添加项目请点击这里
		div.inputbutton
			input(type='text', id='projectName')
			input(type='button', value='创建新项目', onclick="userInterface.inputButtonCall(this, 'projectPost')")
			input(type='button', value='创建新项目', onclick='userInterface.projectPost()',style='display:none')