
/*design by:alice*/

/*初始化*/
html
{
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    background: url(images/nsbackground_light.png) repeat;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, blockquote, th, td
{
    margin: 0;
    padding: 0;
    font-family: \5FAE\8F6F\96C5\9ED1;
    
}

img
{
    border: none;
}
em, strong
{
    font-style: normal;
    font-weight: normal;
}
ul, li, ol
{
    list-style: none;
}

h1
{
    font-size: 30px;
    color: #222;
}
h2
{
    font-size: 16px;
}
h3
{
    font-size: 14px;
}
h1, h2, h3, h4, h5, h6
{
    font-weight: bold;
    text-shadow: 0 1px 0 #ddd;
}
h4, h5, h6
{
    font-size: 135%;
}
address, cite, dfn, em, var
{
    font-style: normal;
}
q:before, q:after
{
    content: '';
}

.cl
{
    clear: both;
}
a
{
    color: #72706f;
    text-decoration: none;
}
a:hover
{
    color: #72706f;
    text-decoration: underline;
}

td
{
    vertical-align: top;
}


body
{
    height: 100%;
    width: 100%;
}


#main_box
{
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    min-width: 1000px;
    height: 1000px;
    min-height: 644px;
}

/* Panels de menu et de contenu */

#left_box, .left_box
{
    position: relative;
    display: table-cell;
    z-index: 100;
    width: 220px;
    height: 100%;
    margin: 0;
    padding: 0;
}

#right_box, .right_box
{
    position: relative;
    display: table-cell;
    height: 1000px;
    width: 100%;
    margin: 0;
    padding: 0;
    vertical-align: top;
    color: #000;
    text-shadow: 0 1px 0 #ccc;
    font-size: 14px;
    letter-spacing: 1px;
}


/* Conteuneur */
.left
{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 220px;
    margin: 0;
    padding: 0;
    background: url(images/nsbackground.png) repeat;
}
.left ul
{
    padding-top: 100px;
}
.left ul li
{
    height: 75px;
    width: 220px;
    text-align: right;
    line-height: 75px;
}
.left ul li a
{
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size: 24px;
    color: #eee;
    font-weight: bold;
    margin-right: 20px;
    text-shadow: 0 1px 1px #333;
}
.left ul li a:hover
{
    text-decoration: none;
}
.left ul .dif
{
    background: url(images/nsbackground_light.png) repeat;
}
.left ul .dif a
{
    color: #333;
    text-shadow: 0 1px 0 #eee;
}





.swContent
{
    width: 820px;
    margin: 20px;
}

.swContent .stBlock
{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.swContent .stBlock .userEditor
{
    width: 600px;
}


.swContent .stBlock h2
{
    font-size: 16px;
    color: #222;
    text-align: left;
    width: 150px;
}

.swContent .stBlock .settings
{
    text-align: left;
    color: #000;
    width: 650px;
    font-size: 14px;
    margin-left: 25px;
    margin-top: 10px;
}

.swContent .stBlock .settings .comment
{
    background-color: #768794;
    text-shadow: 1px 1px 1px black;
    color: white;
    border-color: #3f3f3f;
    border-style: solid;
    border-width: 1px;
    width: 380px;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}

.projTable
{
    width: 100%;
    color: white;
    border: 1px;
    text-shadow: none;
}
.swContent .stBlock .settings p
{
    width: 450px;
}


.swContent .stBlock input
{
    border: 1px solid #3f3f3f;
    background-color: #768794;
    color: White;
    font-size: 12px;
    border-radius: 5px;
    padding: 2px;
}
.swContent .stBlock input:hover
{
    text-shadow: 1px 1px 1px black;
}
.swContent .stBlock input:active
{
    text-shadow: 1px 1px 1px white;
    color: #213245;
}



















.subwindow
{
    width: 100%;
    height: 100%;
    float: right;
    position: absolute;
    z-index: 100;
    margin: 0;
    top: 0;
}

.subg
{
    color: white;
    width: 100%;
    height: 100%;
    background-color: black;
    float: right;
    position: relative;
    margin: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

.subwindow .submain
{
    width: 100%;
    height: 100%;
    background-image: url(images/nsbackground_light.png);
    float: right;
    position: absolute;
    margin: 0;
    top: 0;
    -moz-box-shadow: -1px 0px 20px #666;
    -webkit-box-shadow: -1px 0px 20px #666;
    box-shadow: -1px 0px 20px #666;
    opacity: 0;
    filter: alpha(opacity=0);
}


.subwindow .close
{
    border: none;
    color: Black;
    font-size:20px;
    border-radius: 5px;
    padding: 2px;
    font-weight:500;
    cursor: pointer;
    position: fixed;
    top: 20px;
}
.subwindow .close:hover
{
    text-shadow: 1px 1px 1px black;
    color:White;
}
.subwindow .close:active
{
    text-shadow: 1px 1px 1px white;
    color: #213245;
}




.subwindow .close
{
    font-size: 16px;
    color: #768794;
}

.hr
{
    border-bottom: 1px solid #666;
    -moz-box-shadow: 0 1px 0 #eee;
    -webkit-box-shadow: 0 1px 0 #eee;
    box-shadow: 0 1px 0 #eee;
}

.inputbutton input[type=text]{
	display:none;
	width:1px;
}
