body {
  padding-top: 10px;
  padding-left:50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image:url(images/nsbackground_light.png);
}

a {
  color: #00B7FF;
}








#sidebar
{
    width:220px;
}
