doctype 5
html
	head
		title ºóÌ¨
		script(src='../public/javascripts/jquery.js', type='text/javascript')
		script(src='../public/javascripts/imserver-required.js', type='text/javascript')
		script(src='../public/stylesheets/main.css', type='text/javascript')

	body
		div(id='main_box', class='wrapper')
